<div class="left-part">
  <h1><%= link_to 'CodicaClinic', root_path %></h1>
</div>
<div class="right-part">
  <% if current_patient.present? %>
    <span class="line">
      <%= link_to current_patient.phone, patient_path(current_patient) %>
      <%= button_to "Log out", destroy_patient_session_path, class: "btn--log-out", method: :delete %>
    </span>
  <% elsif current_doctor.present? %>
    <span class="line">
      <%= link_to "Dr. #{current_doctor.name}", doctor_path(current_doctor) %> 
      <%= button_to "Log out", destroy_doctor_session_path, class: "btn--log-out", method: :delete %>
    </span>
  <% else %>
    <p>Patients -> <%= link_to "Log in", new_patient_session_path %> | 
                   <%= link_to "Sign up", new_patient_registration_path %>
    </p>
    <p>Doctors -> <%= link_to "Log in", new_doctor_session_path %> </p>
    <p>Admin --> <%= link_to "Log in", new_admin_user_session_path %> </p>
  <% end %>
</div>
