
<div class="pat--list">
  <% if @appointments.active.empty? %>
    <h3>You haven't upcoming Appointments</h3>
  <% else %>
    <h3>My Coming Appointments</h3>
    <ul>
      <% @appointments.closed.each do |appointment| %>
        <li>
          <p>Visit to: <%= appointment.doctor.category.title %></p>
          <p>Dr. <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p>
          <div class="doc--btn">
            <%= button_to 'Cancel an appointment', patient_appointment_path(@patient.id, appointment.id), 
                                                 class: "btn", 
                                                 method: :patch %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @appointments.closed.empty? %>
    <h3>You haven't Closed Appointments</h3>
  <% else %>
    <h3>My Closed Appointments</h3>
    <ul>
      <% @appointments.closed.each do |appointment| %>
        <li>
          <p>Visit to: <%= appointment.doctor.category.title %></p>
          <p>Dr. <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p>
          <p>Recommendation: <%= appointment.recommendation %></p>
          <div class="pat--docs">
            <p>Attached docs:</p>
            <%= image_tag(appointment.photo, width: 100) if appointment.photo.attached? %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>