<div class="red">
  <% if !@appointments.active.empty? %>
    <h3>My Coming Appointments</h3>
    <ol>
      <% @appointments.active.each do |appointment| %>
        <li>
          <p><%= appointment.doctor.name %></p>
          <p><%= appointment.doctor.email %></p>
          <%= link_to 'View Doctor info', doctor_path(appointment.doctor.id) %>
          <% if can? :manage, Appointment %>
            <%= button_to 'Cancel an appointment', patient_appointment_path(@patient.id, appointment.id), method: :patch %>
          <% end %>
        </li>
      <% end %>
    </ol>
  <% end %>

  <% if !@appointments.closed.empty? %>
    <h3>My Closed Appointments</h3>
    <ol>
      <% @appointments.closed.each do |appointment| %>
        <li>
          <p><%= appointment.recommendation %></p>
          <%= image_tag(appointment.photo, width: 200) if appointment.photo.attached? %>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>