<p><%= @doctor.name %></p>
<p><%= @doctor.email %></p>
<p><%= @doctor.category.title %></p>

<div>
  <% if can? :manage, Appointment %>
    <%= link_to 'Book an appointment', doctor_appointments_path(@doctor), method: :post %>
  <% end %>
</div>

<div class="red">
  <h3>My Coming Appointments</h3>
  <ol>
    <% @appointments.each do |appointment| %>
      <li><%= appointment.patient.email %></li>
    <% end %>
  </ol>
</div>